<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>template</title>
	<link rel="stylesheet" type="text/css" href="css/index.css">
	<script type="text/javascript" src='plugin/jquery-2.1.1.min.js'></script>
</head>
<body>
	<aside class="left-side">
		<section class="top">
			<div class="en-title">INS-BAR</div>
			<div class="zh-title">酒吧互动平台</div>
			<div class="clock">
				<div class="clock-col">
					<span>I</span><span>N</span><span>S</span>
				</div>
				<div class="clock-col">
					<span>&</span>
				</div>
				<div class="clock-col">
					<span>P</span><span>L</span><span>A</span><span>Y</span>
				</div>
			</div>
			<div class="bottom-title">音乐无限餐吧</div>

			<div class="small-hint">总收入：85,548</div>
			<div class="small-hint">总人数：9,523</div>
		</section>
		
		<section class="center">
			<div class="checkbox-item">
				<div class="checkbox-select">
					<div class="sel"><div></div></div>
				</div>
				<div class="checkbox-title">互动设置</div>
			</div>
			<div class="checkbox-item">
				<div class="checkbox-select"><div class="sel"></div></div>
				<div class="checkbox-title">分析结算</div>
			</div>
			<div class="checkbox-item">
				<div class="checkbox-select"><div class="sel"></div></div>
				<div class="checkbox-title">账户管理</div>
			</div>
		</section>
		
		<section class="footer">
			<div class="footer-sel">
				<div class="checkbox-item">
					<div class="checkbox-select"><div class="sel"></div></div>
					<div class="checkbox-title">更新动态</div>
				</div>
				<div class="checkbox-item">
					<div class="checkbox-select"><div class="sel"></div></div>
					<div class="checkbox-title">反馈建议</div>
				</div>
			</div>
		</section>

		<section>
			<div class="logout">登出</div>
		</section>

	</aside>
</body>
<script type="text/javascript">
	$(".checkbox-item").click(function(event) {
		var haveSel = $(this).find('.sel').html();
		 if (haveSel) {
		 	$(this).find('.sel').html("");
		 }else{
		 	$(this).find('.sel').append('<div></div>')
		 }
	});
</script>
</html>