body{
	background: white;
}
section{
	font-size: 0.4rem;
}
.qu-attend-title{
	color: #5B73F2;
	padding: 0.3rem;
}
.qu-attend-user-container{
	margin-top: 1rem;
	padding: 0.4rem;
	.qu-attend-user-title{
		display: flex;
		color: #222222;
		border-top: 1px solid #dedede;
		justify-content:space-around;
		padding: 0.3rem 0;
		div{
			flex:1;
			text-align: center;
		}
	}
	.qu-attend-user-list{
		.qu-user-item{
			border-top: 1px solid #dedede;
			display: flex;
			justify-content:space-between;
			padding: 0.3rem 0;
			div{
				flex:1;
			}
			.qu-attend-user{
				img{
					width: 1rem;height: 1rem;
					vertical-align: middle;
				}
				.sex{
					width: 0.6rem;
					vertical-align: middle;
					margin-left: 0.1rem;
					margin-top: 0.1rem;
				}
			}
			.qu-attend-time{
				color: #666666;
				text-align: right;
				line-height: 1rem;
			}
		}
	}
}