*{
	margin: 0;
	padding: 0;
}
html,body{
	width: 100%;
	height: 100%;
	font-family: Microsoft YaHei;
	font-size: 14px;
}
.left-side{
	height: 100%;
	width: 250px;
	border-right:1px solid #666;
	.top{
		text-align: center;
		padding-top: 80px;
		.en-title{
			text-align: center;
			font-size: 22px;
			color: #A574f4;
			font-weight: bolder;
		}
		.zh-title{
			color: #A574f4;
			font-size: 16px;
			text-align: center;
		}
		.clock{
			width: 120px;
			height: 120px;
			border: 1px solid black;
			margin: 0 auto;
			margin-top: 20px;
			display: flex;
			flex-direction: column;
			div{
				flex:1;
				line-height: 40px;
				display: flex;
				span{
					flex:1;
					font-size: 18px;
					font-weight: bolder;
				}
			}
		}
		.bottom-title{
			font-size: 16px;
			margin-top: 10px;
			margin-bottom: 20px;
		}
		.small-hint{
			font-size: 12px;
			margin-bottom: 5px;
		}
	}
	.center{
		margin-top: 100px;
	}
}
.checkbox-item{
	cursor: pointer;
	border-bottom: 1px solid #999;
	display: flex;
	height: 28px;
	font-size: 15px;
	margin-bottom: 30px;
	width: calc(100%-30);
	margin-left: 20px;
	font-family: "微软雅黑";
	.checkbox-select{
		border-right:1px solid #999;
		overflow: hidden;
		width: 30px;
	}
	.checkbox-title{
		padding-left: 10px;
	}
	.sel{
		border: 1px solid black;
		width: 14px;
		height: 14px;
		margin: 4px auto;
		div{
			width: 10px;
			height: 10px;
			margin: 2px;
			background-color: black;
		}
	}	
}
.footer{
	overflow: hidden;
}
.footer-sel{
	display: flex;
	margin-top: 100px;
	float: right;
	.checkbox-item{
		margin-left: 0;
		margin-bottom: 10px;
		font-size: 12px;
		line-height: 20px;
	}
	.checkbox-item:nth-child(1){
		padding-right: 30px;
		margin-left: 20px;
	}
	.checkbox-item:nth-child(2){
		padding-right: 20px;
	}
}
.logout{
	text-align: right;
	padding-right: 20px;
	font-size: 12px;
	color: #BD9CF6;
	cursor: pointer;
}